@charset "UTF-8";

.admin_out{
	background: gray;
	width : 100%;
}
.admin_nav{
	width : 800px;
    margin:0 auto;
}
#admin_ul a{
	width : 200px;
}

.pie, .bar{
	padding-top : 50px;
	display : inline-block;
	margin : 0;
	width : 45%;
}

.pie_title, .bar_title {
	padding-left : 10px;
}

.dashdiv{
	height : 500px;
	
}