@charset "UTF-8";

.admin_out{
	background: #F5BCA9;
	width : 100%;
}
.admin_nav{
	width : 800px;
    margin:0 auto;
}
#admin_ul a{
	width : 200px;
}
#admin_ul>li{
	font-size : 15px;
	font-weight : bold;
}

.pie, .bar, .line,.horizontal{
	padding-top : 50px;
	display : inline-block;
	margin : 0;
	width : 45%;
}

.pie_title, .bar_title, .line_title, .horizontal_title {
	padding-left : 10px;
}

.dashdiv{
}
.dashdiv2{
}