@charset "utf-8";
#foot{
	width: 100%;
	border-top : 1px solid #d8d7d7;
	background-color : #f9f9f9;
	position: fixed;
	height: 8em;
	bottom : 0px;
	right : 0px;
	cursor: default;
	padding : 2rem 15rem;
	color : #565454;
}

.footcon{
	float : left;		
}

#footText{
	width: 60%;
	line-height: 3rem;	
	box-sizing: border-box; 
	text-overflow:ellipsis; 
	overflow:hidden; 
	white-space:nowrap;
}

#date, #time{
	font-size : 1.5rem;
}

#footMax{
	width : 10%;
	font-size : 2rem;
	text-align: center;
	line-height: 3rem;
}

#footPrice{
	width : 10%;
	font-size : 2rem;
	text-align: center;
	line-height: 3rem;
}

#footBtn{
	width : 15%;
	text-align : center;
	line-height: 3rem;
}



#title{
	font-size : 2.5rem;
	margin-bottom : 1rem;
	width : 60%;
	
}

.attend{
	width : 13rem;
 	height : 6rem;
 	border: 1px solid rgba(241, 114, 114, 0.96); 
 	background-color: rgba(241, 114, 114, 0.96); 
 	border-radius: 5px;
 	color: white; 
 	font-size : 3rem;
 	line-height: 5rem;
 	float : right;
}

.full{
	width : 13rem;
 	height : 6rem;
 	border: 1px solid rgba(241, 114, 114, 0.96); 
 	background-color: rgba(132, 130, 130, 0.96); 
 	border-radius: 5px;
 	color: white; 
 	font-size : 3rem;
 	line-height: 5rem;
 	float : right;
}

#attendant .row:nth-child(2){
	max-height: 550px;
	overflow : auto ;
	
}

.site-main{
	margin-top : -20px;
}

#comments{
	margin-bottom : 10em;
}

.sectionContent{	
	width : 80%;
	margin : auto;
}

.input-group{
	width : 100%;
}

.nino-sectionHeading {
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top : 30px;
	text-align: center;
	color: #5a5a5aad;
}

.nino-sectionHeading .nino-subHeading {
    display: block;
    text-transform: none;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 0px;
}

.nino-sectionHeading:not(.nino-sectionHeading:after) {	
text-align : left;
}

.tagSearch{
	color : white;
}
	
.sum{
	height : 50em;
	width : auto;
	overflow: hidden;
}

.sumimg{
	width : auto;
}

.flexslider .slides img {
	width : auto;
	margin : auto;
	min-width : 80%;
}

.col-md-3, .member-thumb, .team-member{
	text-align: center;
	width : 10rem;
	height : 10rem;
	
}
{
	
}



