@charset "utf-8";
#foot{
	width: 100%;
	border-top : 1px solid #d8d7d7;
	background-color : #f9f9f9;
	position: fixed;
	height: 6em;
	bottom : 0px;
	right : 0px;
	cursor: default;
	padding : 1rem;
	color : #565454;
}

.footcon{
	float : left;		
}

#footText{
	width: 60%;
	line-height: 3rem;	
}

#date, #time{
	font-size : 2rem;
}

#footPrice{
	width : 10%;
	font-size : 2rem;
	text-align: center;
	line-height: 5rem;
}

#footBtn{
	width : 30%;
	text-align : center;
}

#title{
	font-size : 4rem;
	margin-bottom : 1rem;
}

.attend{
	width : 8rem;
 	height : 4rem;
 	border: 1px solid rgba(241, 114, 114, 0.96); 
 	background-color: rgba(241, 114, 114, 0.96); 
 	border-radius: 5px;
 	color: white; 
 	font-size : 2rem;
}

#attendant .row:nth-child(2){
	max-height: 550px;
	overflow : auto ;
	
}

.site-main{
	margin-top : -20px;
}

#comments{
	margin-bottom : 10em;
}

.sectionContent{	
	width : 80%;
	margin : auto;
}

.input-group{
	width : 100%;
}

.nino-sectionHeading {
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top : 30px;
	text-align: center;
	color: #5a5a5aad;
}

.nino-sectionHeading .nino-subHeading {
    display: block;
    text-transform: none;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 0px;
    text-align : left;
}

.nino-sectionHeading:not(.nino-sectionHeading:after) {	
text-align : left;
}
	

