@charset "utf-8";
input[name='user_id']{
	width : 40%;
}
input[name='user_age']{
	width : 40%;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 200px;
	height : 200px;
	border-radius: 50%;
}

.category_img, .cat_p{
	border-radius : 10px;
	cursor : pointer;
	width : 150px;
	height : 150px;
	float : left;
	padding : 10px;
}

.modal-title{
	text-align: right;
	margin-right : 10px;
}

.backbtn2, .backbtn3 {
	display : inline-block;
	width : 30px;
	height : 30px;
	cursor : pointer;
}
.nextbtn1, .nextbtn2{
	background-color: #F6CECE; 
	border-color:#F6CECE;
	display : block;
	float : right;
	
}

.nextbtn1:hover, .nextbtn2:hover{
	background-color:#F5A9A9;
	border-color:#F5A9A9;
}

.submitbtn{
	background-color : #F78181;
	border-color : #F78181;
	clear : both;
	display : block;
	float : right;
}
.submitbtn:hover{
	background-color: #FA5858;
	border-color:#FA5858;
}