@charset "UTF-8";

.userReport, .eventReport{
	float : left;
	width : 45%;
	text-align: center;
	
}

caption {
	font-size : 20px;
	font-weight: bold;
}
.userReport td, .eventReport td {
	padding : 10px;
} 